.menu-bouton {
	-fx-background-color : dark;
	-fx-font : bold 14px "Source Sans";
	-fx-text-fill : light;
	-fx-cursor : hand;
}

.menu-bouton:hover {
	-fx-text-fill : sea-glass;
	-fx-background-color : darker;
}