.selection-liste-contenu-commande {
	-fx-background-color : light;
}

.selection-titre-groupe-contenu-commande {
	-fx-font : bold 12px "Source Sans";
	-fx-alignment : center;
    -fx-text-fill : dark;
}