#haut {
}

#droite {
	-fx-alignment : center;
	-fx-background-color : cyan;
}

#bas {
	-fx-alignment : center;
	-fx-background-color : pink;
}

#centre {
	-fx-alignment : center;
	-fx-background-color : yellow;
}

.showcase {
	-fx-font: 20px "sans-serif";
}

.liste-contenu-commande {
	-fx-background-color : "#f0f0f0";
	-fx-border-color : "#101010";
	-fx-border-width : 1;
}

.titre-groupe-contenu-commande {
	-fx-font : bold 12px "sans-serif";
	-fx-alignment : center;
}

.commande {
	-fx-border-color : "#101010";
	-fx-border-width : 1;
}

.numero-commande {
	-fx-alignment : center;
	-fx-background-color : "#f01010";
	-fx-font : bold 15px "sans-serif"; 
	-fx-text-fill : "#f0f0f0";
}

.bouton-menu {
	-fx-background-color : "#101010";
	-fx-border-color : "#f0f0f0";
	-fx-border-width : 1;
	-fx-font : bold 14px "sans-serif";
	-fx-text-fill : "#f0f0f0";
	-fx-cursor : hand;
}

.bouton-menu:hover {
	-fx-text-fill : "#d0d0d0";
	-fx-border-color : "#d0d0d0";
}